body {
  margin: 0;
  padding: 0;
  
  font-family: 'Poppins';
}

.container {
  @media (min-width: $breakpoint) {
    display: grid;
    grid-template-columns: $sidebar-width 1fr;
  }
}

.container_sidebar_visible {
  height: 100vh;
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100vw;

  padding: 25px;

  background-color: green;

  @media (min-width: $breakpoint) {
    display: none;
  }
}