.content {
  display: flex;

  box-sizing: border-box;
  min-height: 100vh;

  padding-top: 74px; // header height

  background-color: $light-blue;

  @media (min-width: $breakpoint) {
    height: 100vh;

    padding-top: 0;

    overflow-y: scroll;
  }
}

.content__content {
  width: 100%;
  
  @media (min-width: calc($sidebar-width + 900px + 26px * 2)) {
    width: unset;
    margin: 0 auto;
  }
}