// colors
$black: #000000;
$white: #FFFFFF;
$light-blue: #FAFBFF;
$purple: #5932EA;
$pastel-purple: #9197B3;

// breakpoints
$breakpoint: 1000px;

// common
$sidebar-width: 306px;

// sidebar
$sidebar-padding: 28px;