.content {
  display: flex;

  box-sizing: border-box;
  min-height: 100vh;

  padding-top: 74px; // header height

  background-color: $light-blue;

  @media (min-width: $breakpoint) {
    height: 100vh;

    padding-top: 0;

    overflow-y: scroll;
  }
}

.content__content {
  display: flex;
  flex-direction: column;

  width: 100%;

  row-gap: 50px;
  padding-top: 40px;
  
  @media (min-width: calc($sidebar-width + 900px + 26px * 2)) {
    width: unset;
    margin: 0 auto;
  }
}

.content__title {
  margin: 0;

  font-size: 2.4rem;
  font-weight: inherit;
}