.content {
  display: flex;

  box-sizing: border-box;
  min-height: 100vh;

  // 115px = header height
  padding: 115px $customers-padding 0 $customers-padding;

  background-color: $light-blue;

  @media (min-width: $breakpoint) {
    height: 100vh;

    padding-top: 0;

    overflow-y: scroll;
  }
}

.content__content {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: max-content;

  row-gap: 50px;
  padding: 40px 0;
  
  @media (min-width: calc($sidebar-width + 900px + 26px * 2)) {
    width: unset;
    margin: 0 auto;
  }
}

.content__title {
  margin: 0;

  font-size: 2.4rem;
  font-weight: inherit;
}