.container {
  @media (min-width: $breakpoint) {
    display: grid;
    grid-template-columns: 400px 1fr;
  }
}

.container_sidebar_visible {
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  display: none;
  position: fixed;

  height: 100vh;
  width: 100vw;

  overflow-y: scroll;

  z-index: 10;

  background-color: aqua;

  @media (min-width: $breakpoint) {
    display: block;
    position: relative;

    width: 100%;
  }
}

.sidebar__close-button {
  @media (min-width: $breakpoint) {
    display: none;
  }
}

.sidebar__nav {
  @media (min-width: $breakpoint) {
    background-color: green;
    height: 600px;
  }
}

.header {
  position: fixed;
  width: 100vw;

  padding: 25px;

  background-color: green;

  @media (min-width: $breakpoint) {
    display: none;
  }
}

.container_sidebar_visible .sidebar {
  display: block;
}

.content {
  box-sizing: border-box;
  min-height: 100vh;

  padding-top: 74px; // header height

  background-color: grey;

  @media (min-width: $breakpoint) {
    height: 100vh;

    padding-top: 0;

    overflow-y: scroll;
  }
}

.content__customers {
  height: 400px;

  padding: 25px;

  background-color: green;
  background-clip: content-box;
}