.table {
  table-layout: fixed;
  border-collapse: collapse;

  width: calc(150px * 6 + 26px * 2);
}

.table-header, .table-body {
  display: block;
  padding: 0 26px;
}

.table-header {
  text-align: left;
  border-bottom: 1px solid black;
}

.table-body__row {
  border-bottom: 1px solid black;
}

.table-header__cell {
  padding: 16px 0;
}

.table-body__cell {
  padding: 26px 0;
}

.table-header_name, .table-body_name {
  width: 150px;
}

.table-header_company, .table-body_company {
  width: 150px;
}

.table-header_phone, .table-body_phone {
  width: 150px;
}

.table-header_email, .table-body_email {
  width: 150px;
}

.table-header_country, .table-body_country {
  width: 150px;
}

.table-header_status, .table-body_status {
  width: 150px;
}