.table {
  table-layout: fixed;
  border-collapse: collapse;

  width: calc(150px * 6 + 26px * 2);
}

.table__header, .table__body {
  display: block;
  padding: 0 26px;
}

.table__header {
  text-align: left;
  border-bottom: 1px solid black;
}

.table__body {
  .table__row {
    border-bottom: 1px solid black;
  }
}

.table__heading_name, .table__cell_name {
  width: 150px;
}
.table__heading_company, .table__cell_company {
  width: 150px;
}

.table__heading_phone, .table__cell_phone {
  width: 150px;
}

.table__heading_email, .table__cell_email {
  width: 150px;
}

.table__heading_country, .table__cell_country {
  width: 150px;
}

.table__heading_status, .table__cell_status {
  width: 150px;
}